<h1>Products#index</h1>
<h3>My Products</h3>
<% @products.each do |product| %>
  <div>
    <!-- Read/Display Product -->
    <%= product.name %>
    
    <!-- Update Product -->
    <%= form_with model: @product, url: update_product_path(product.id), method: :patch do |form| %>
      <div>
        <%= form.label :name, "Edit Name" %>
        <%= form.text_field :name %>
      </div>
      <div>
        <%= form.submit "Update" %>
      </div>
    <% end %>
    
    <!-- Delete Product -->
    <%= button_to "Delete", delete_product_path(product.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>

<h3>Create a product</h3>
<%= form_with model: @product, url: products_path, method: :post do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<h1>Users#index</h1>
<h3>My Users</h3>
<% @users.each_with_index do |user, index| %>
  <div>
  <h4>User <%= index + 1 %>:</h4>
    <!-- Read/Display Product -->
    <p>
    
     Name: <%= user.name %>
     Address: <%= user.address %>
     Nickname: <%= user.nickname %>
     </p>
     

    <!-- Update User -->
    <%= form_with model: @user, url: update_user_path(user.id), method: :patch do |form| %>
      <div>
        <%= form.label :nickname, "Edit Nickname" %>
        <%= form.text_field :nickname %>
      </div>
      <div>
        <%= form.submit "Update" %>
      </div>
    <% end %>
    
    <!-- Delete User -->
    <%= button_to "Delete", delete_user_path(user.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>

<h3>Create a user</h3>
<%= form_with model: @user, url: users_path, method: :post do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :address %>
    <%= form.text_field :address %>
    <%= form.label :nickname %>
    <%= form.text_field :nickname %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<h1>Sales#index</h1>
<h3>My Sales</h3>
<% @sales.each do |sale| %>
  <div>
    <!-- Read/Display Product -->
    <p>
      Product: <%= sale.product_name %><br>
      Buyer: <%= sale.user_nickname %><br>
      Quantity: <%= sale.quantity %>
     </p>
  
    
    <!-- Delete Sale -->
    <%= button_to "Delete", delete_sale_path(user.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>

<h3>Create a sale</h3>
<%= form_with model: @sale, url: sales_path, method: :post do |form| %>
  <div>
    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
    <%= form.label :user_nickname %>
    <%= form.text_field :user_nickname %>
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

